<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="${LOG_LEVEL:-WARN}">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
    <logger name="dev.limebeck" level="${LOG_LEVEL:-WARN}"/>
    <logger name="ch.qos" level="WARN"/>
    <logger name="Application" level="${LOG_LEVEL:-WARN}"/>
    <logger name="ServerLogger" level="${LOG_LEVEL:-WARN}"/>
    <logger name="FilesWatcher" level="${LOG_LEVEL:-WARN}"/>
</configuration>
